<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/students.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Tələbələr və Məzunlar</title>
</head>

<body>
    <!-- Start SummaryInformation -->
    <section id="summaryİnformation">
        <div class="container">
            <div class="summary">
                <!-- Start Grey zone -->
                <div class="back__area">
                    <div class="text">
                        <!-- Start Title -->
                        <div class="back__text">
                            <div class="back__area--title">
                                <h1>Tələbə və Məzunlar</h1>
                                <div class="line"></div>
                            </div>
                            <!-- End Title -->
                            <!-- Start Text -->
                            <div class="back__area--about">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis justo nisl, sodales non lectus at, tristique bibendum magna. Aenean non erat ultricies, congue dolor a, consequat metus. Integer at enim semper, sollicitudin
                                    nisi ac, luctus velit. Sed feugiat commodo lorem ac viverra. Fusce sit amet dapibus erat, vel euismod libero. Suspendisse dictum luctus lorem, a congue urna elementum non. Proin sit amet consectetur libero, vitae finibus
                                    nunc. Integer interdum quam a justo finibus tristique. </p>
                            </div>
                        </div>
                        <!-- End Text -->
                    </div>
                </div>
                <!-- End Gray zone -->
                <!-- Start Image -->
                <div class="front__image">
                    <img src="../assets/img/studentimage.png" alt="">
                </div>
                <!-- End Image -->
            </div>
        </div>
    </section>
    <!-- End SummaryInformation -->

    <!-- Start components -->
    <section id="Component">
        <div class="container">
            <div class="component">
                <!-- Start head filter -->
                <div class="components__head">
                    <div class="components__head--firstfilter " onclick="filterSelection('all')">
                        <h1>Tələbələr</h1>
                    </div>
                    <div class="components__head--secondfilter" onclick="filterSelection('graduate')">
                        <h1>Məzunlar</h1>
                    </div>
                </div>
                <!-- End head filter -->
                <div class="list">
                    <div class="list__component">
                        <div class="item graduate">
                            <div class="item__picture"><img src="../assets/img/person1.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person2.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person3.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person4.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person5.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person6.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person7.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person8.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person9.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person10.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person11.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item ">
                            <div class="item__picture"><img src="../assets/img/person12.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Components -->
    <script src="../assets/js/app.js"></script>
</body>

</html>