<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/students.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>

    <title>Tələbələr və Məzunlar</title>
</head>

<body>

    <!-- header -->
    <header>
        <nav class="navbar">
            <a href="./index.html">
                <div class="logo"><img src="../assets/img/logoblack.svg" alt=""></div>
            </a>
            <div class="menu">
                <ul>
                    <li><a href="./about.html">Haqqımızda</a> <span></span> </li>
                    <li><a href="./programs.html">Proqramlar</a> <span></span> </li>
                    <li><a href="./blog.html">Bloq</a> <span></span> </li>
                    <li><a href="./students.html">Tələbə və Məzunlar</a> <span></span> </li>
                    <li><a href="./contact.html">Əlaqə</a> <span></span> </li>
                </ul>
            </div>

            <div class="wrapper">
                <div class="search-box">
                    <input type="text" placeholder="Search" class="input">
                    <div class="btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <a class="btn1" href="#">MÜRACİƏT</a>
        </nav>
    </header>
    <!-- downmenu -->
    <section class="downmenu">
        <div class="downmenu__wrapper">
            <a href="">
                <div class="downmenu__wrapper__item">Ana Səhifə</div>
            </a>
            <img src="../assets/img/Vectorright.svg" alt="">
            <a href="">
                <div class="downmenu__wrapper__item">Tələbə və Məzunlar</div>
            </a>
            <img src="../assets/img/Vectorright.svg" alt="">


        </div>
    </section>



    <!-- Start SummaryInformation -->
    <section id="summaryİnformation">
        <div class="container">
            <div class="summary">
                <!-- Start Grey zone -->
                <div class="back__area">
                    <div class="text">
                        <!-- Start Title -->
                        <div class="back__text">
                            <div class="back__area--title">
                                <h1>Tələbə və Məzunlar</h1>
                                <div class="line"></div>
                            </div>
                            <!-- End Title -->
                            <!-- Start Text -->
                            <div class="back__area--about">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis justo nisl, sodales non lectus at, tristique bibendum magna. Aenean non erat ultricies, congue dolor a, consequat metus. Integer at enim semper, sollicitudin
                                    nisi ac, luctus velit. Sed feugiat commodo lorem ac viverra. Fusce sit amet dapibus erat, vel euismod libero. Suspendisse dictum luctus lorem, a congue urna elementum non. Proin sit amet consectetur libero, vitae finibus
                                    nunc. Integer interdum quam a justo finibus tristique. </p>
                            </div>
                        </div>
                        <!-- End Text -->
                    </div>
                </div>
                <!-- End Gray zone -->
                <!-- Start Image -->
                <div class="front__image">
                    <img src="../assets/img/studentimage.png" alt="">
                </div>
                <!-- End Image -->
            </div>
        </div>
    </section>
    <!-- End SummaryInformation -->

    <!-- Start components -->
    <section id="Component">
        <div class="container">
            <div class="component">
                <!-- Start head filter -->
                <div class="components__head">
                    <div class="components__head--firstfilter" onclick="openCity(event, 'Student')">
                        <h1>Tələbələr</h1>
                    </div>
                    <div class="components__head--firstfilter" onclick="openCity(event, 'Graduent')">
                        <h1>Məzunlar</h1>
                    </div>
                </div>
                <!-- End head filter -->
                <div class="list">
                    <div class="list__component">
                        <div class="item" id="Student">
                            <div class="item__picture"><img src="../assets/img/person1.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Student">
                            <div class="item__picture"><img src="../assets/img/person2.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Student">
                            <div class="item__picture"><img src="../assets/img/person3.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Student">
                            <div class="item__picture"><img src="../assets/img/person4.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Graduent">
                            <div class="item__picture"><img src="../assets/img/person5.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Graduent">
                            <div class="item__picture"><img src="../assets/img/person6.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Graduent">
                            <div class="item__picture"><img src="../assets/img/person7.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Graduent">
                            <div class="item__picture"><img src="../assets/img/person8.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Graduent">
                            <div class="item__picture"><img src="../assets/img/person9.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Graduent">
                            <div class="item__picture"><img src="../assets/img/person10.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Graduent">
                            <div class="item__picture"><img src="../assets/img/person11.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                        <div class="item" id="Graduent">
                            <div class="item__picture"><img src="../assets/img/person12.png" alt=""></div>
                            <div class="data">
                                <div class="item__name">
                                    <h1>Samir Kerimov</h1>
                                </div>
                                <div class="item__date">
                                    <h1>14.06.2020 - 02.09.2021</h1>
                                </div>
                                <div class="item__button">
                                    <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Components -->

    <!-- footer -->
    <footer>
        <div class="footer__up">
            <div class="footer__up__menu">
                <ul>
                    <li><a href="">Haqqımızda</a> </li>
                    <li><a href="">Proqramlar</a> </li>
                    <li><a href="">Bloq</a> </li>
                    <li><a href="">Tələbə və Məzunlar</a> </li>
                    <li><a href="">Əlaqə</a> </li>
                </ul>
            </div>
            <div class="footer__up__address">
                <div class="footer__up__address__item">
                    <p>Xocalı prospekti 40, AZ1000 Bakı, Azərbaycan</p>
                    <p>Mobil + 994 (50) 256 08 07</p>
                </div>
            </div>
        </div>

        <div class="footer__down">
            <a href="">
                <div class="footer__down__logo"><img src="../assets/img/logofooter.svg" alt=""></div>
            </a>
            <div class="footer__down__text">©2021 - Pragmatech - Bütün hüquqlar qorunur.</div>
            <div class="footer__down__link">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>

            </div>
        </div>
    </footer>


    <script src="../assets/vendor/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/common.js"></script>
</body>

</html>