@import "./colors.scss";
@import "./reset.scss";
@import "./extend.scss";
@import "./font.scss";



body{
   font-family:$font;
};
::selection {
    background-color: $green;
    color: #fff;
}

.loader{
    @extend %loader;
}
.wrapper-finish{
    display: none;
 }
 .wrapper-animation{
     animation: wrapperanima 1s linear;
 }
 @keyframes wrapperanima{
     0%{
         opacity: 1;
     }
     100%{
         opacity: 0;
     }
 }

// nav bar extend

header{
    background-color: $grey;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
    border-bottom: 1px solid #ccccccc7;

    .navbar{
        @extend %navbar;
        i{
            color: $darkgrey;
        }
        ul{
            li{
                position: relative;
                
                a{
                    color: $darkgrey !important;}
                }
             li:nth-child(3){
                 a{font-weight: $weight400 !important;
                     &:hover{
                         color: $darkgrey !important;
                     }
                 }
             
     span{
         display: block;
         position: absolute;
         right: 0;
         left: 0;
         margin: 0 auto;
         margin-top: 0.313rem;
         width: 2rem;
         height:0.188rem ;
         background-color: $green;
     };
     };
     
     };
        
     };
    };

// downmenu

.downmenu{
    width: 100%;
    height: 6.25rem;
    margin-top: 6.625rem;
    &__wrapper{
        width: 73.125rem;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        img{
            
            margin-top: 0.1rem;
        }
        a{
            text-decoration: none;
            width: max-content;
            height: max-content;
            display: inline-block;
            transition: 0.5s;
            font-weight: bold;
            font-style: normal;
            font-size: $font-size14;
            line-height: $line-height18-2;
            color:$darkgrey;
            &:hover{
                color: $gray82;
                transition: 0.5s;
            }
            &:nth-child(1){
                margin-right: 0.531rem;
            }
            &:nth-child(3){
                margin-left: 1.234rem;
            }
            
        }
    }
}

// downmenu end

// blog start
.head{
    width: 100%;
    .blog-all{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: $grey;
            .blog-header{
                height: 10.625rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
        
                .line{
                    margin-bottom: 5rem;
                    width: 102px;
                    border-bottom: 2.5px solid $green;
                    
                };
                .blog-text{
                    color:$darkgrey;
                    text-align: center;
                    margin-top: 3rem;
                    margin:auto 1.625rem;
                    height: 5rem;
                    width: 8.5rem;
                    font-size: $font-size64;
                    font-weight: $weight700;
                    font-style:normal;
                };
            };
            .blog-TM{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: 0 auto;
                    height: 46.875rem;
                    width: 73.125rem;
                    .blog-img{
                        display: inline-block;
                        background: url("../img/bloq_css_img/background.svg");
                        object-fit: cover;
                        width: 41.875rem;
                        height: 34.375rem;
                        margin-right: 3.75rem;
                    };
                    .blog-text2{ 
                        display:block;
                        width: 27.5rem;
                        height: 1.375rem;
                        text-align: left;
                        font-size: $font-size35;
                        font-weight: $weight700;
                        font-style:normal;
                
                        h3{
                            font-size: $font-size35;
                            margin-bottom: 1.688rem;
                            margin-top: 3.5rem;
                            color: $darkgrey;
                            line-height: $line-height45;
                        };
                        p{
                            margin-bottom: 1.688rem;
                            font-size: $font-size16;
                            color:$darkgrey;
                            font-weight: normal;
                            line-height: 1.5rem;
                            text-align: justify;
                            &:first-child(2){
                                margin-bottom: 0;
                            }
                        };
                        .blog-name{
                            height: 1.375rem;
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                            margin-bottom: 2.5rem;
                            line-height: 20.8px;
                            color: $darkgrey;
                            p:nth-child(1){
                                margin-bottom: 0 !important;
                            }
                            .blog-mtext{
                                font-weight: bold !important;
                            };
                        };
                        a{
                            @extend %btn-green;
                        };
                    };
                };
        };
        .blog-box{
                 display: flex;
                 justify-content: space-between;
                 flex-wrap: wrap;
                 width: 73.125rem;
                 margin: 0 auto;
                 margin-top: 4.375rem;
                 .box{
                    @extend %box;
                 }
             };
}

// blog-box end

.popup__all{
    @include formanimation;
.form__item{
    position: relative;
}

.name__field,.surname__field,.email__field,.number__field,.textarea{
    position: relative;

}
    @extend %popup__all;
}

   


// footer

footer{
    
    @extend %footer; 
    margin-top: 6.25rem;
};

@media only screen and (min-device-width:992px) and (max-device-width:1350px){
    html{
        font-size: 12.5px;
    }
    
}


@media only screen and (min-device-width:1351px){
    html{
        font-size: 16px;
    }
}