$green:#41E063;
$darkgreen:#39c958;
$grey:#F5F5F5;
$linear-grey:linear-gradient(#E5E5E5
100%
#E8E8E8
30%
);
$greystroke:rgba(54, 54, 54, 0.3);
$grey82:#828282;
$darkgrey:#333333;
$violet:#e041d0;
$grey4f:#4F4F4F;