@import "./colors.scss";
@import "./reset.scss";
@import "./font.scss";
@import "./extend.scss";

*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: fit-content;
    font-family: $font;
   
    
   
}
::selection {
    background-color: $green;
    color: #fff;
}

.loader{
    @extend %loader;
}
.wrapper-finish{
    display: none;
 }
 .wrapper-animation{
     animation: wrapperanima 1s linear;
 }
 @keyframes wrapperanima{
     0%{
         opacity: 1;
     }
     100%{
         opacity: 0;
     }
 }

header{
    width: 100%;
    height: max-content; 
    position:absolute;
    top: 0;
    z-index: 9999;
    background-color: unset;
    border-bottom: 0.1% solid #cccccc;
    
    
}

.navbar{
   @extend %navbar;
   
}


// swiper
.mySwiper{
    width: 100%;
    height: 100%;
    top: 0;
    
   
    .swiper-wrapper{
        width: 100%;
        height: 62.5rem;
       
        .swiper-slide{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            .header-wrapper{
                width: 73.125rem;
                height: max-content;
                margin-bottom: 10.188rem;
                margin-left:  auto;
                margin-right: auto;
                position: relative;
                z-index: 9999999;
            .header__content{
                width: 33.063rem;
                height: 17.125rem;
                display: flex;
                flex-direction: column;
               
                
                
                h1{
                   
                    font-weight: 700;
                    font-style:normal;
                    font-size: $font-size40;
                    line-height: $line-height50;
                    width: inherit;
                    color: white;
                    margin-bottom: 2.25rem;
                    
                    
                }
                p{
                    
                    font-weight: 400;
                    font-size:$font-size16;
                    line-height: $line-height25-6;
                    font-style: normal;
                    color: white;
                    width: inherit;
                    margin-bottom: 2.25rem;
                   

                }
                a{
                    width:10.625rem;
                    height: 3.125rem;
                    background-color: $green;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                    text-decoration: none;
                    transition: 0.5s;
                    font-weight:$weight700;
                    font-style: bold;
                    font-size: $font-size16;
                    line-height: $line-height19-7;
                    &:hover{
                        background-color: $darkgreen;
                        transition: 0.5s;
                    }
                    
                }
            }}
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -5;
                object-fit: cover;

            }
        }
    }
}

.swiper-pagination{
    margin-bottom: 80px;
    span{
        
        width: 30px;
        height: 5px;
        border-radius: 0%;
        background-color: $green;
    }
}

// logo section
.section-logo{  
    width: 100%;
    position: relative;
    .logos{
        width: 73.125rem;
        height: 6.25rem;
        background-color: white;
        position: absolute;
        top: -50%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 9;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .css{
            width: 44px;
            height: 50px;
        }
    }
}

// groups section


.active__groups{
    width: 73.125rem;
    height: max-content;
    margin: 0 auto;
    margin-top: 9.375rem;
    display: flex;
    gap: 1.875rem;
    flex-wrap: wrap;
    
    &__main{
        width: 16.875rem;
        height: 16rem;
        
        &__up{
            width:100%;
            height: max-content;
            display: flex;
            align-items: center;
            &__active{
                font-weight:$weight700;
                font-style: normal;
                font-size:$font-size64;
                line-height: $line-height80;
                color: $darkgrey;

            }
            &__stroke{
                    width: 4.375rem;
                    height: 0.188rem;
                    background-color: $green;
                    margin-left: 0.5rem;
                    margin-top: 0.7rem;
            }
        }

        &__groups{
            margin-left: 2.75rem;
            margin-top: -1.8rem;
            font-weight: $weight300;
            font-style: normal;
            font-size: $font-size64;
            line-height: $line-height60;
            color: $darkgrey;
        }
        p{
            color: $gray82;
            font-weight:$weight400;
            font-size: $font-size14;
            font-style: normal;
            line-height: $line-height17-5;
            margin-top: 1.625rem;
        }
        a{
            width: 10.625rem;
            height: 2.5rem;
            border-radius: 25px;
            font-weight:$weight700;
            font-style: bold;
            font-size: $font-size16;
            line-height: $line-height19-7;
            background-color: $green;
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.688rem;
            transition:0.5s;
            &:hover{
                background-color: $darkgreen;
                transition: 0.5s;
               
            }
            

        }
    }
    &__item{
        width: 16.875rem;
        height: 16rem;
        border: 1px solid $greystroke;
        transition:all 0.5s linear;
        
        
        &:hover{
            box-shadow: rgba(65, 224, 99, 0.4) -5px 5px, rgba(65, 224, 99, 0.3) -10px 10px, rgba(65, 224, 99, 0.1) -20px 20px, rgba(65, 224, 99, 0.05) -15px 15px;
            border: none;
            transition: all 0.3s linear;
            
            
            
        }
        img{
            width: 16.875rem;
            height:9.75rem;

        }
        a{
            text-decoration: none;
            text-align: center;
            display:inline-block;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
             

        h3{
            margin-top: 1.125rem;
            color: $darkgrey;
            font-weight:$weight700;
            font-size: $font-size18;
            font-style: normal;
            line-height: $line-height23-4;
            
        }
        p{
            color:$gray82;
            font-style: normal;
            font-weight:$weight400;
            font-size: $font-size14;
            line-height: $line-height18-2;
            margin-top: 0.938rem;
        }
        
    }
    }
}

// plannedgroups
.double__main__all{
    @extend %double;
    
    
    .double__main{
        
        display: flex;
        align-items: center;
        padding-top: 3.688rem;
        padding-bottom: 5.313rem;
        box-sizing: content-box;
        margin-top: 6.25rem;
        
    }
}

// blogposts
.blog__posts{
    width: max-content;
    height: max-content;
    margin: 0 auto;
    margin-top: 5.313rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    flex-wrap: wrap;

    .blog__posts__main{
        width: 16.875rem;
        height: 16.875rem;
        &__up{
              width: 100%;
              height: max-content;
              display: flex; 
              align-items: center;
              padding-top: 2.813rem;
              &__blog{
                    font-weight: $weight700;
                    font-style: normal;
                    font-size: $font-size64;
                    line-height:$line-height80;
                    color: $darkgrey;
              }  
              &__stroke{
                  width: 4.5rem;
                  height: 0.188rem;
                  background-color: $green;
                  margin-left: 1.438rem;
                  margin-top: 0.938rem;
              }   
        }

        &__down{
              width: 100%;
              height: max-content;
              display: flex; 
              align-items: center;
              margin-top: -1.688rem;
              
            &__stroke{
                width: 7.563rem;
                height: 0.188rem;
                background-color: $green;
                margin-right: 0.5rem;
                margin-top: 0.625rem;
                


            }
            &__post{
                    font-weight: $weight300;
                    font-style: normal;
                    font-size: $font-size48;
                    line-height:$line-height60;
                    color: $darkgrey;
                
                
            }
        }
        p{
            width: 100%;
            text-align: justify;
            font-weight: $weight400;
            font-style: normal;
            font-size: $font-size14;
            line-height: $line-height17-5;
            margin-top: 1.625rem;
        }
        
    }
    
    .box-small{
        width: 35.563rem;
        height: 16.875rem;
        display: flex;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-bottom: 0;
        
        .box-text{
            width: 18.688rem;
            height: 16.875rem;
        }
        .box-img{
            height:16.875rem;
            width: 16.875rem;
        }
        
        
    }
    .box-big{
        width:16.875rem;
        height:25.625rem;
        margin-top: 0;
        grid-row: 2 / 4;
        

    }
    .box:nth-child(3){
        grid-row: 1 / 3;
    }
   
    .box{
        @extend %box;
        margin-bottom: 0;
        border: 1px solid #3636364D;
        .box-text{
            border: none;
            height: 15.775rem;
            .buttons{
                cursor: pointer;
                transition: 0.5s;
            }
        }

        
    }
    .box:nth-child(3){
       
        grid-row:1 / span 2 !important;
        grid-column: 4;
    }
    .green__box__link{
        position: relative;
        width:16.875rem;
        height:16.875rem;
        text-decoration: none;
        display:block;
        margin-top: -10rem;
        z-index: 2;

        &::before{
            content: "";
            background-color: rgba(0, 0, 0, 0.308);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            opacity: 0;
            transition: 0.5s;
            
            
        }
        &:hover::before{
            content: "";
            opacity: 1;
            transition: 0.5s;
        }
    .green__box{
        width:16.875rem;
        height:16.875rem;
        display: flex;
        flex-direction: column;
        
        background-color: $green;
        h4{
                margin-top: 4.188rem;
                margin-left:5.875rem;
                margin-bottom: -1.688rem;
                font-weight: $weight300;
                font-style: normal;
                font-size: $font-size36;
                line-height: $line-height45;
                color: white;
        }
        .ml{
            color: white;
            margin-left: 1.875rem;
        }
        .mr{
            margin-left: 5.563rem;
            color: white;
            margin-top: -0.938rem;
        }

        
    }}
}

// help
.help{
    width: 100%;
    height: 27.813rem;
    background-image: $linear-grey;
    display: flex;
    justify-content: center;
    margin-bottom: 7.5rem;
    
  
    
    &__question{
        width: 37.375rem;
        height: 22.688rem;
        position: relative;
        margin-top: 2.563rem;
        
        img{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -5;
            width: 100%;
            height: 100%;
        }
        &__up{
            font-weight: $weight700;
            font-style: normal;
            font-size: $font-size64;
            line-height:$line-height80;
            color: $darkgrey;
            margin-top: 2.75rem;
        }  


        &__down{
            width:100%;
            height: max-content;
            display: flex;
            align-items: center;
            margin-top: -0.938rem;
            &__stroke{
                width: 7.563rem;
                height: 0.188rem;
                background-color: $green;
                margin-top: 0.625rem;
                

            }
            &__text{
               
                margin-left: 0.5rem;
                font-weight: 300;
                font-style: normal;
                font-size: $font-size48;
                line-height:$line-height60;
                color: $darkgrey;
            }
        }
        p{
            width: 21.5rem;
            height: 4.375rem;
            margin-left: 8.063rem;
            margin-top: 3.688rem;
            text-align: justify;
            font-weight: $weight400;
            font-style: normal;
            font-size: $font-size14;
            line-height: $line-height17-5;
            color: $gray82;
        }
        
      
    }
    &__form{
            width: 29.375rem;
            height: 17.813rem;
            margin-left: 6.063rem;
            margin-top: 5rem;
            form{
                width: 100%;
                height: 100%;
                
                .form__up{
                    width: 100%;
                    height: max-content;
                    display: flex;
                    justify-content: space-between;
                    input.form__name{
                        width: 14.125rem;
                        height: 3.125rem;
                        outline: none;
                        border: 1px solid $formborder;
                        font-size: $font-size16;
                        font-weight: $weight400;
                        font-style: normal;
                        padding-top: 0.938rem;
                        padding-left: 1.375rem;
                        padding-bottom:0.938rem ;
                        line-height: $line-height19-7;
                        &::placeholder{
                            color: $placeholdercolor;
                        }
                        
                        
                        
                    }

                    .form__surname{
                        width: 14rem;
                        height: 3.125rem;
                        outline: none;
                        border: 1px solid $formborder;
                        font-size: $font-size16;
                        font-style: normal;
                        font-weight: $weight400;
                        line-height: $line-height19-7;
                        padding-top: 0.938rem;
                        padding-left: 1.188rem;
                        padding-bottom:0.938rem ;
                        &::placeholder{
                            color: $placeholdercolor;
                        }
                        
                    }
                }

                .form__down{
                    width: 100%;
                    height: max-content;
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.125rem;
                    .form__email{
                        width: 100%;
                        height: 3.125rem; 
                        outline:none;
                        border: 1px solid $formborder;
                        font-size: $font-size16;
                        font-style: normal;
                        font-weight: $weight400;
                        line-height: $line-height19-7;
                        padding-top: 0.938rem;
                        padding-left: 1.375rem;
                        padding-bottom:0.938rem ;
                        

                        &::placeholder{
                            color: $placeholdercolor;
                        }
                        
                    }

                    .label{
                        width: 100%;
                        height: max-content;
                        font-style: normal;
                        font-weight: $weight400;
                        line-height: $line-height16-3;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        color: $color97;
                        margin-top: 0.594rem;
                        img{
                            margin-right: 0.344rem;
                        }
                    }
                    
                }
                span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}
.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center
}

/*Styling Selectbox*/
                    .dropdown {
                    @extend %dropdown
                    
                    }
                    

                .submit{
                    width: 100%;
                    height: 3.125rem;
                    background-color: $green;
                    outline: none;
                    border: none;
                    color: white;
                    font-style: normal;
                    font-weight: $weight700;
                    font-size: $font-size16;
                    line-break: $line-height19-7;
                    transition: 0.5s;
                    margin-top: 1.5rem;
                    border-radius: 3px;
                    &:hover{
                        background-color: $darkgreen;
                        cursor: pointer;
                        transition: 0.5s;
                    }
                    
                }
            }
            
        
    }
}
.popup__all{
    @extend %popup__all;
}

   

footer{
    @extend %footer;
    }

   


@media only screen and (min-device-width:992px) and (max-device-width:1350px){
    html{
        font-size: 12.5px;
    }
    .green__box__link{
        margin-top: -10.45rem !important;
    
    }
}


@media only screen and (min-device-width:1351px){
    html{
        font-size: 16px;
    }
}




