@import "./colors.scss";
@import "./font.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;

    
   
}

header{
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0;
    z-index: 999;
}

.navbar{
    max-width: 73.125rem;
    height: 73px;
    margin: 0 auto;
    display: flex;
    padding-top: 33px;
    display: flex;
    align-items: center;
    z-index: 5;
    padding: 0 auto;

    .menu{
        margin-left: 10.625rem;
        width: 35.75rem;
        display:flex;
        align-items: center;
        
        ul{
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            li{
                margin-right: 3.063rem;
                width: max-content;
                a{
                    color: white;
                    font-family: averta;
                    font-weight: 700;
                    font-style: normal;
                    line-height: 1.125rem;
                    font-size: 0.938rem;
                    text-decoration: none;
                    &:hover{
                        color: $green;
                        transition: 0.5s;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
            
        }
    }

    .search{
        width: 1.375rem;
        height: 1.375rem;
        margin-left: 8rem;
        margin-right: 1.188rem;
        img{
            width: inherit;
            height: inherit;
        }
    }

    // button
    .btn1{
        text-decoration: none;
        width: 8.063rem;
        height:2.5rem;
        border-radius: 20px;
        border: 1px solid $green;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: averta;
        font-style: bold;
        font-weight: 700;
        color: $green;
        font-size: 0.938rem;
        &:hover{
            background-color: $green;
            color: white;
            transition: 0.5s;
        }
    }
}


// swiper
.mySwiper{
    width: 100%;
    height: 100%;
    top: 0;
    
   
    .swiper-wrapper{
        width: 100%;
        height: 62.5rem;
       
        .swiper-slide{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            .header-wrapper{
                width: 73.125rem;
                height: max-content;
                margin-bottom: 10.188rem;
                margin-left:  auto;
                margin-right: auto;
                position: relative;
                z-index: 9999999;
            .header__content{
                width: 33.063rem;
                height: 17.125rem;
                display: flex;
                flex-direction: column;
               
                
                
                h1{
                    font-family: averta;
                    font-weight: 800;
                    font-style:normal;
                    font-size: 2.5rem;
                    line-height: 3.125rem;
                    width: inherit;
                    color: white;
                    margin-bottom: 2.25rem;
                    
                    
                }
                p{
                    font-family: averta;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.6rem;
                    font-style: normal;
                    color: white;
                    width: inherit;
                    margin-bottom: 2.25rem;
                   

                }
                a{
                    width:10.625rem;
                    height: 3.125rem;
                    background-color: $green;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;
                    text-decoration: none;
                    font-family: averta;
                    font-weight: 700;
                    font-style: bold;
                    font-size: 1rem;
                    line-height: 1.188rem;
                    &:hover{
                        background-color: $darkgreen;
                        transition: 0.5s;
                    }
                    
                }
            }}
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -5;
                object-fit: cover;

            }
        }
    }
}

.swiper-pagination{
    margin-bottom: 80px;
    span{
        
        width: 30px;
        height: 5px;
        border-radius: 0%;
        background-color: $green;
    }
}

// logo section
.section-logo{  
    width: 100%;
    position: relative;
    .logos{
        width: 73.125rem;
        height: 6.25rem;
        background-color: white;
        position: absolute;
        top: -50%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999999;
        .css{
            width: 44px;
            height: 50px;
        }
    }
}

@media only screen and (min-width:960px) and (max-width:1320px){
    html{
        font-size: 1vw;
    }
}