* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 0;
  z-index: 999;
}

.navbar {
  max-width: 73.125rem;
  height: 73px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 33px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  padding: 0 auto;
}

.navbar .menu {
  margin-left: 10.625rem;
  width: 35.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu ul li {
  margin-right: 3.063rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar .menu ul li a {
  color: white;
  font-weight: 700;
  font-style: normal;
  line-height: 1.125rem;
  font-size: 0.938rem;
  text-decoration: none;
}

.navbar .menu ul li a:hover {
  color: #41E063;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .menu ul li:last-child {
  margin-right: 0;
}

.navbar .search {
  width: 1.375rem;
  height: 1.375rem;
  margin-left: 8rem;
  margin-right: 1.188rem;
}

.navbar .search img {
  width: inherit;
  height: inherit;
}

.navbar .btn1 {
  text-decoration: none;
  width: 8.063rem;
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid #41E063;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: bold;
  font-weight: 700;
  color: #41E063;
  font-size: 0.938rem;
}

.navbar .btn1:hover {
  background-color: #41E063;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mySwiper {
  width: 100%;
  height: 100%;
  top: 0;
}

.mySwiper .swiper-wrapper {
  width: 100%;
  height: 62.5rem;
}

.mySwiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mySwiper .swiper-wrapper .swiper-slide .header-wrapper {
  width: 73.125rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 10.188rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999999;
}

.mySwiper .swiper-wrapper .swiper-slide .header-wrapper .header__content {
  width: 33.063rem;
  height: 17.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mySwiper .swiper-wrapper .swiper-slide .header-wrapper .header__content h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 3.125rem;
  width: inherit;
  color: white;
  margin-bottom: 2.25rem;
}

.mySwiper .swiper-wrapper .swiper-slide .header-wrapper .header__content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  font-style: normal;
  color: white;
  width: inherit;
  margin-bottom: 2.25rem;
}

.mySwiper .swiper-wrapper .swiper-slide .header-wrapper .header__content a {
  width: 10.625rem;
  height: 3.125rem;
  background-color: #41E063;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  font-style: bold;
  font-size: 1rem;
  line-height: 1.188rem;
}

.mySwiper .swiper-wrapper .swiper-slide .header-wrapper .header__content a:hover {
  background-color: #39c958;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mySwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination {
  margin-bottom: 80px;
}

.swiper-pagination span {
  width: 30px;
  height: 5px;
  border-radius: 0%;
  background-color: #41E063;
}

.section-logo {
  width: 100%;
  position: relative;
}

.section-logo .logos {
  width: 73.125rem;
  height: 6.25rem;
  background-color: white;
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999999;
}

.section-logo .logos .css {
  width: 44px;
  height: 50px;
}

.active__groups {
  width: 73.125rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  margin-top: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.active__groups__main {
  width: 16.875rem;
  height: 16rem;
  margin-bottom: 1.875rem;
}

.active__groups__main__up {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active__groups__main__up__active {
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 5rem;
  color: #333333;
}

.active__groups__main__up__stroke {
  width: 4.375rem;
  height: 0.188rem;
  background-color: #41E063;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
}

.active__groups__main__groups {
  margin-left: 2.75rem;
  margin-top: -1.8rem;
  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.75rem;
  color: #333333;
}

.active__groups__main p {
  color: #828282;
  font-weight: 400;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.094rem;
  margin-top: 1.625rem;
}

.active__groups__main a {
  width: 10.625rem;
  height: 2.5rem;
  border-radius: 25px;
  font-weight: 700;
  font-style: bold;
  font-size: 1rem;
  line-height: 1.188rem;
  background-color: #41E063;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.688rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active__groups__main a:hover {
  background-color: #e041d0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active__groups__item {
  width: 16.875rem;
  height: 16rem;
  border: 1px solid rgba(54, 54, 54, 0.3);
  margin-bottom: 1.875rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.active__groups__item:hover {
  -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.active__groups__item img {
  width: 16.875rem;
  height: 9.75rem;
}

.active__groups__item a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  -moz-outline: none;
}

.active__groups__item a h3 {
  margin-top: 1.125rem;
  color: #333333;
  font-weight: 700;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.463rem;
}

.active__groups__item a p {
  color: #828282;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.138rem;
  margin-top: 0.938rem;
}

.planned__groups {
  width: 100%;
  height: 58.75rem;
  background-color: #F5F5F5;
  margin-top: 4.375rem;
  position: relative;
}

.planned__groups__box {
  width: 73.125rem;
  height: 49.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 3.688rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.planned__groups__box__main {
  width: 23.125rem;
  height: 23.938rem;
}

.planned__groups__box__main__up {
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 5rem;
  color: #333333;
  margin-top: 3.25rem;
  margin-left: -2px;
}

.planned__groups__box__main__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1.8rem;
}

.planned__groups__box__main__down__stroke {
  width: 11.875rem;
  height: 0.188rem;
  background-color: #41E063;
  margin-top: 0.313rem;
}

.planned__groups__box__main__down__groups {
  margin-left: 0.688rem;
  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.75rem;
  color: #333333;
}

.planned__groups__box__main p {
  width: 16.875rem;
  color: #828282;
  font-weight: 400;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.094rem;
  margin-top: 1.625rem;
}

.planned__groups__box__main a {
  width: 10.625rem;
  height: 2.5rem;
  border-radius: 25px;
  font-weight: 700;
  font-style: bold;
  font-size: 1rem;
  line-height: 1.188rem;
  background-color: #41E063;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.688rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.planned__groups__box__main a:hover {
  background-color: #e041d0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.planned__groups__box__item {
  width: 23.125rem;
  height: 23.938rem;
  background-color: white;
  margin-bottom: 1.875rem;
}

.planned__groups__box__item img {
  width: 23.125rem;
  height: 11.063rem;
}

.planned__groups__box__item h3 {
  width: 16.25rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #333333;
  margin-top: 1.938rem;
  margin-left: 1.313rem;
}

.planned__groups__box__item .calendar {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.313rem;
  margin-top: 1.75rem;
}

.planned__groups__box__item .calendar img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.planned__groups__box__item .calendar p {
  color: #828282;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.138rem;
}

.planned__groups__box__item .detail {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.313rem;
  margin-top: 2.063rem;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.planned__groups__box__item .detail h4 {
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #4F4F4F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.planned__groups__box__item .detail i {
  font-size: 0.625rem;
  color: #4F4F4F;
  margin-left: 0.875rem;
  margin-top: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.planned__groups__box__item .detail:hover {
  cursor: pointer;
}

.planned__groups__box__item .detail:hover h4 {
  color: #41E063;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.planned__groups__box__item .detail:hover i {
  color: #41E063;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 960px) and (max-width: 1320px) {
  html {
    font-size: 12.5px;
  }
}
