<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Post</title>
    <link rel="stylesheet" href="../../assets/css/blog-post.css">
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- nav bar start -->
    <!-- nav bar end -->

    <!-- navigator start -->
    <div class="navigator">
        <a href="#"><p>Ana Səhifə</p></a>
        <div class="navigator-icon"><i class="fas fa-chevron-right"></i></div>
        <a href="#"><p>Bloq</p></a>
        <div class="navigator-icon"><i class="fas fa-chevron-right"></i></div>    
    </div>
    <!-- navigator end -->

    <!-- blog post start -->
    <div class="head">
        <div class="blog-post-all">
            <div class="blog-post-header">
                <h2>Sed urna enim, viverra vel porta non, ultricies eu diam. Sed dictum quam faucibus nulla pharetra faucibus.</h2>
                <p class="blog-post-name">Samir Kərimov</p>
                <p class="blog-post-time">09.09.2021</p>
                <div class="blog-logo-all">
                    <a href="#"><div class="share-logo"><i class="fas fa-share-alt"></i></div></a>
                    <a href="#"><div class="facebook-logo"><i class="fab fa-facebook-f"></i></div></a>
                    <a href="#"><div class="instagram-logo"><i class="fab fa-instagram-square"></i></div></a>
                    <a href="#"><div class="linkedin-logo"><i class="fab fa-linkedin-in"></i></div></a>
                </div>
                <div class="blog-post-img"></div>
                <div class="blog-post-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur.
                        <br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet. <br>
                        <br><br>
                        Praesent congue tincidunt elit, in rutrum justo molestie et. Phasellus vitae tempor sapien. Donec efficitur eu justo ac sagittis. Nam tempor nisi mauris, sed bibendum sem posuere eget. Sed urna enim, viverra vel porta non, ultricies eu diam. Sed dictum quam faucibus nulla pharetra faucibus. Nam eros leo, iaculis vitae pellentesque eu, consectetur ac nibh. Phasellus cursus dui at tellus hendrerit, quis tempor tortor pulvinar. Ut dictum pharetra lorem quis laoreet. Nam ligula massa, porttitor et porta vel, porta a nibh. Suspendisse accumsan, justo quis sollicitudin congue, elit purus ultricies sem, a dapibus massa urna non ligula. Fusce quis quam a eros tempor finibus. Donec scelerisque enim sed libero viverra volutpat. Sed nisi est, feugiat in semper in, facilisis a ipsum. Donec suscipit feugiat rhoncus. Suspendisse mauris metus, eleifend et erat pulvinar, convallis aliquet urna.
                        <br><br>
                    </p>
                </div>
            </div>
    <!-- blog post end -->
            
    <!-- other blog start -->
        </div>
        <div class="other-blog">
            <div class="other-blog-header"><p>Digər bloqlar</p></div>
            <div class="other-blog-line"></div>
        </div>
    <!-- other blog end -->
        
<!-- blog-box start-->

    <div class="blog-box">
        <div class="box">
            <div class="box-img" style="background:url(../../assets/img/box.svg)"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
            </div>
        </div>

        <!-- box 2 -->

        <div class="box">
            <div class="box-img" style="background: url(../../assets/img/box2.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
            </div>
        </div>

        <!-- box 3 -->

        <div class="box">
            <div class="box-img" style="background: url(../../assets/img/box3.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
            </div>
        </div>

<!-- box 4 -->

     <div class="box">
            <div class="box-img" style="background: url(../../assets/img/box4.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
            </div>
        </div>

<!-- box 5 -->

    <div class="box">
            <div class="box-img" style="background: url(../../assets/img/box5.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
            </div>
        </div>

<!-- box 6 -->

    <div class="box">
            <div class="box-img" style="background: url(../../assets/img/box6.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
            </div>
        </div>

<!-- box 7 -->

    <div class="box">
            <div class="box-img" style="background: url(../../assets/img/box7.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
            </div>
        </div>

<!-- box 8 -->

    <div class="box">
            <div class="box-img" style="background: url(../../assets/img/box8.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2"> 02.09.2021</p>
                <a href="../blog-post/blog-post.html"><button class="buttons">Ətraflı oxu</button></a>
            </div>
        </div>

    </div>


<!-- blog-box end -->
    </div>
</body>
</html>