.head .blog-box .box .box-text .buttons {
  width: 8.125rem;
  height: 2.5rem;
  border: 1px solid #41E063;
  border-radius: 25px;
  color: #41E063;
  text-align: center;
  background-color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
}

.head .blog-box .box .box-text .buttons:hover {
  background-color: #39c958;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.head .blog-box .box {
  margin-bottom: 1.875rem;
}

.head .blog-box .box .box-img {
  width: 16.875rem;
  height: 9.75rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.head .blog-box .box .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16.75rem;
  height: 16.75rem;
  border: 1px solid #3636364D;
  background: #FFFFFF;
}

.head .blog-box .box .box-text .box-text-p {
  text-align: center;
  margin: 1.25rem 2.45rem 2.7rem 2.45rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.463rem;
  color: #333333;
}

.head .blog-box .box .box-text .buttons {
  margin-top: 2.688rem;
}

.head .blog-box .box .box-text .box-text-p2 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.138rem;
  color: #828282;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

i {
  color: #828282;
}

i :hover {
  color: #333333;
}

.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.188rem;
  width: 100%;
  background: white;
  margin-left: 27.35%;
}

.navigator a {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
}

.navigator .navigator-icon {
  width: 0.4rem;
  height: 0.2rem;
  margin: 0 1% 0.6% 1%;
  color: #4F4F4F;
}

.head {
  width: 100%;
}

.head .blog-post-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
}

.head .blog-post-all .blog-post-header {
  width: 73.125rem;
}

.head .blog-post-all .blog-post-header h2 {
  height: 5.8rem;
  padding-top: 4.875rem;
  color: #333333;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
}

.head .blog-post-all .blog-post-header .blog-post-time {
  color: #828282;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4rem;
  margin-bottom: 2.1rem;
}

.head .blog-post-all .blog-post-header .blog-post-name {
  color: #333333;
  width: 7.08rem;
  height: 1.438rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
  margin-top: 2.063rem;
  margin-bottom: 0.5rem;
}

.head .blog-post-all .blog-post-header .blog-logo-all {
  width: 7.313rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-bottom: 1.844rem;
}

.head .blog-post-all .blog-post-header .blog-post-img {
  height: 43.75rem;
  width: 73.125rem;
  background: url(../img/background-blog-post.svg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 3.75rem;
}

.head .blog-post-all .blog-post-header .blog-post-text {
  width: 100%;
  height: 27.25rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #333333;
  margin-bottom: 6.25rem;
}

.head .other-blog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.head .other-blog .other-blog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 73.125rem;
  height: 6.25rem;
}

.head .other-blog .other-blog-header p {
  margin-top: 1.563rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: bold;
  line-height: 1.875rem;
  color: #333333;
}

.head .other-blog .other-blog-line {
  width: 100%;
  border: 1px solid #C3C3C3;
  margin-bottom: 3.125rem;
}

.head .blog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 73.125rem;
  margin: 0 auto;
  margin-top: 4.375rem;
}
