  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/contact.css">
    <title>Contact</title>
</head>
<body>
   <!-- loading -->
<div class="loader">
  <div class="loader__wrapper">Loading...</div>

</div>
  <!-- loading -->
  <!-- nav bar start -->
  
  <header>
    <nav class="navbar">
        <a href="./index.html"><div class="logo"><img src="../assets/img/icons/logoblack.svg" alt=""></div></a>
        <div class="menu">
            <ul>
                    <li><a href="./about.html">Haqqımızda</a> <span></span> </li>
                    <li><a href="./programs.html">Proqramlar</a> <span></span> </li>
                    <li><a href="./blog.html">Bloq</a> <span></span> </li>
                    <li><a href="./students.html">Tələbə və Məzunlar</a> <span></span> </li>
                    <li><a href="./contact.html">Əlaqə</a> <span></span> </li>
            </ul>
        </div>  
        
        <div class="wrapper">
          <div class="search-box">
             <input type="text" placeholder="Axtar" class="input">
             <div class="btn">
               <i class="fa fa-search" aria-hidden="true"></i>
             </div>
          </div>
        </div>
        <a class="btn1" href="#">MÜRACİƏT</a>
    </nav>
</header>

  <!-- nav bar end -->

  <!-- downmenu -->

  <section class="downmenu">
    <div class="downmenu__wrapper">
        <a href="../templates/index.html"><div class="downmenu_wrapper_item">Ana Səhifə</div></a>
        <img src="../assets/img/icons/Vectorright.svg" alt="">
        <a href=""><div class="downmenu_wrapper_item">Əlaqə</div></a>
        
    </div>
</section>

<!-- downmenu end -->

    <div class="head">

      <!-- contact start-->

        <div class="contact-all">
            <div class="contact-header">
                <div class="line"></div>
                <h1 class="contact-text">Bizimlə əlaqə</h1>
                <div class="line"></div>
                </div>
        </div>
        <div class="contact-map-info">
            <div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.0533426308043!2d49.845490350333655!3d40.407669064014385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403087f5efc1f421%3A0x8d1989f4a7f62f9c!2sAvesta%20Concern%2C%20Baku%2C%20Azerbaijan!5e0!3m2!1sen!2s!4v1638930366959!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
            <div class="contact-info">
                <div class="contact-info-location"></div>
                <div class="contact-info-text"><p>Xocalı prospekti 40</p></div>

                <div class="contact-info-number"></div>
                <div class="contact-info-text"><p>+ 994 (50) 256 08 07</p></div>

                <div class="contact-info-mail"></div>
                <div class="contact-info-text"><p>info@pragmatech.com</p></div>
            </div>
        </div>

        <!-- contact end -->

        <!-- sendbox start -->

        <div class="sendbox-all">
           <form class="contact-sendbox">
            <h1>Bizə yazın</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="sendbox-line"></div>
            <div class="sendbox-inputs">
                <div class="sendbox__name"><input required type="text" placeholder="Ad"><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span></div> <div class="sendbox__surname"><input required type="text" placeholder="Soyad"><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span></div> 
            </div> 
            <div class="sendbox-inputs">
             <div class="sendbox__email"><input  required type="email" placeholder="Email"><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span></div>   <div class="sendbox__number"><input required type="tel" placeholder="Telefon"><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span></div>
                <div class="label"><img src="../assets/img/icons/icon.svg" alt="icon">text@example.com</div>
            </div>
            <div class="sendbox-textarea">
              <textarea required placeholder="Mesajınız" class="textbox-input" name="" id="" cols="30" rows="10"></textarea><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span>
            </div>
            <div class="sendbox-submit">
                <input type="submit" value="Göndər">
            </div>
        </form>
        </div>

        <!-- sendbox end -->

    </div>


  <!-- popup -->
  <div class="popup__all">
    <form class="popup">
     <h1>Bizə yazın</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
     
     <div class="popup-inputs popup-input-up">
         <div class="name__field"><input required type="text" placeholder="Ad"><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span></div><div class="surname__field"><input required type="text" placeholder="Soyad"><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span></div>
     </div> 
     <div class="popup-inputs popup-input-down">
        <div class="email__field"><input required type="email" placeholder="Email"><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span></div><div class="number__field"><input  required type="tel" placeholder="Telefon"><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span><span class="bg__border" ></span></div>
         <div required class="label"><img src="../assets/img/icons/icon.svg" alt="icon">text@example.com</div>
     </div>
     <div class="dropdown">
      <div class="select">
        <span class="label">Proqramı seçin</span>
        <img src="../assets/img/icons/Vectordown.svg" alt="">
      </div>
      <input type="hidden">
      <ul class="dropdown-menu">
        <li>HTML</li>
        <li>Css</li>
        <li>Javascript</li>
        <li>C#</li>
      </ul>
    </div>
     <div class="popup-textarea">
         <div class="textarea"><textarea required placeholder="Mesajınız" class="popup-input" name="text" cols="30" rows="10"></textarea><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span><span class="bg__border"></span></div></div>
     <div class="popup-submit">
         <input type="submit" value="Göndər">
     </div>
  </form>
  </div>
      
    
 <!-- footer -->
 <footer style="margin-top:6.25rem;">
    <div class="footer__up">
      <div class="footer__up__menu">
      <ul>
        <li><a href="./about.html">Haqqımızda</a> </li>
        <li><a href="./programs.html">Proqramlar</a> </li>
        <li><a href="./blog.html">Bloq</a> </li>
        <li><a href="./students.html">Tələbə və Məzunlar</a> </li>
        <li><a href="./contact.html">Əlaqə</a> </li>
    </ul>
    </div>
      <div class="footer__up__address">
        <div class="footer__up__address__item"><p>Xocalı prospekti 40, AZ1000 Bakı, Azərbaycan</p><p>Mobil + 994 (50) 256 08 07</p></div>
      </div>
    </div>

    <div class="footer__down">
      <a href="./index.html"><div class="footer__down__logo"><img src="../assets/img/icons/logofooter.svg" alt=""></div></a>
      <div class="footer__down__text">©2021 - Pragmatech - Bütün hüquqlar qorunur.</div>
      <div class="footer__down__link">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a> 
        <a href=""><i class="fab fa-linkedin-in"></i></a> 
      
      </div>
    </div>
  </footer>


  <!-- footer end -->
  <script src="../assets/vendor/jquery-3.6.0.min.js"></script>
  <script  src="../assets/js/common.js"></script>
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/contact_form.js"></script>

</body>
</html>
