<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- swiper -->
    <link rel="stylesheet" href="../assets/vendor/swiper-bundle.min.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>
</head>
<body>
    
        <!-- header -->
        <header>
            <nav class="navbar">
                <div class="logo"><img src="../assets/img/logo.svg" alt=""></div>
                <div class="menu">
                    <ul>
                        <li><a href="">Haqqımızda</a> </li>
                        <li><a href="">Proqramlar</a> </li>
                        <li><a href="">Blog</a> </li>
                        <li><a href="">Tələbə və Məzunlar</a> </li>
                        <li><a href="">Əlaqə</a> </li>
                    </ul>
                </div>
                <div class="search"><img src="../assets/img/search.svg" alt=""></div>
                <a class="btn1" href="#">MÜRACİƏT</a>
            </nav>
        </header>
            <!-- Swipersection -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="header-wrapper">
            <div class="header__content">
                
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="#">Daha ətraflı</a>
            </div>
            </div>
            <img src="../assets/img/Background.svg" alt="">
          </div>
          <div class="swiper-slide">
            <div class="header-wrapper">
              <div class="header__content">
                  
                  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a href="#">Daha ətraflı</a>
              </div>
              </div>
            <img src="" alt="">

          </div>
          <div class="swiper-slide">
            <div class="header-wrapper">
              <div class="header__content">
                  
                  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a href="#">Daha ətraflı</a>
              </div>
              </div>
            <img src="" alt="">
          </div>
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- logosection -->
      <section class="section-logo">
      <div class="logos">
        <div class="logos__item"><img src="../assets/img/html.svg" alt="#"></div>
        <div class="logos__item"><img class="css" src="../assets/img/css.png" alt="#"></div>
        <div class="logos__item"><img src="../assets/img/js.svg" alt=""></div>
        <div class="logos__item"><img src="../assets/img/c.svg" alt=""></div>
        <div class="logos__item"><img src="../assets/img/c+.svg" alt=""></div>
        <div class="logos__item"><img src="../assets/img/python.svg" alt=""></div>
      </div>
    </section>

    <!-- activegroupes -->
    <section class="active__groupes">
      
    </section>


    
    <script src="../assets/vendor/swiper-bundle.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>
</html>
    

