<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontfamily -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- swiper -->
    <link rel="stylesheet" href="../assets/vendor/swiper-bundle.min.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>
</head>
<body>
    
        <!-- header -->
        <header>
            <nav class="navbar">
                <a href=""><div class="logo"><img src="../assets/img/logo.svg" alt=""></div></a>
                <div class="menu">
                    <ul>
                        <li><a href="">Haqqımızda</a> </li>
                        <li><a href="">Proqramlar</a> </li>
                        <li><a href="">Blog</a> </li>
                        <li><a href="">Tələbə və Məzunlar</a> </li>
                        <li><a href="">Əlaqə</a> </li>
                    </ul>
                </div>
                
                <div class="wrapper">
                  <div class="search-box">
                     <input type="text" placeholder="Search" class="input">
                     <div class="btn">
                       <i class="fa fa-search" aria-hidden="true"></i>
                     </div>
                  </div>
                </div>
                <a class="btn1" href="#">MÜRACİƏT</a>
            </nav>
        </header>
            <!-- Swipersection -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="header-wrapper">
            <div class="header__content">
                
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="#">Daha ətraflı</a>
            </div>
            </div>
            <img src="../assets/img/Background.svg" alt="">
          </div>
          <div class="swiper-slide">
            <div class="header-wrapper">
              <div class="header__content">
                  
                  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a href="#">Daha ətraflı</a>
              </div>
              </div>
            <img src="" alt="">

          </div>
          <div class="swiper-slide">
            <div class="header-wrapper">
              <div class="header__content">
                  
                  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a href="#">Daha ətraflı</a>
              </div>
              </div>
            <img src="" alt="">
          </div>
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- logosection -->
      <section class="section-logo">
      <div class="logos">
        <div class="logos__item"><img src="../assets/img/html.svg" alt="#"></div>
        <div class="logos__item"><img class="css" src="../assets/img/css.png" alt="#"></div>
        <div class="logos__item"><img src="../assets/img/js.svg" alt=""></div>
        <div class="logos__item"><img src="../assets/img/c.svg" alt=""></div>
        <div class="logos__item"><img src="../assets/img/c+.svg" alt=""></div>
        <div class="logos__item"><img src="../assets/img/python.svg" alt=""></div>
      </div>
    </section>

    <!-- activegroups -->
    <section class="active__groups">
          <div class="active__groups__main">
            <div class="active__groups__main__up"><div class="active__groups__main__up__active">aktiv</div><div class="active__groups__main__up__stroke"></div></div>
            <div class="active__groups__main__groups">qruplar</div>
            <p>Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <a href="#">Hamısına bax</a>
          </div>
          <div class="active__groups__item"><a href="">
            <img src="../assets/img/comp.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="">
            <img src="../assets/img/comp2.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="#">
            <img src="../assets/img/comp3.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="#">
            <img src="../assets/img/comp4.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="#">
            <img src="../assets/img/comp5.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="#">
            <img src="../assets/img/comp6.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="">
            <img src="../assets/img/comp7.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
    </section>
    <!-- plannedgroups -->
    <section class="planned__groups">
            <div class="planned__groups__box">
              <div class="planned__groups__box__main">
                <div class="planned__groups__box__main__up">planlanan</div>
                <div class="planned__groups__box__main__down"><div class="planned__groups__box__main__down__stroke"></div><div class="planned__groups__box__main__down__groups">qruplar</div></div>
                <p>Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="#">Hamısına bax</a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp8.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp9.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp10.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp11.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp12.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

             

    </section>
    <!-- plannedgroups -->
    <section class="blog__posts">
      <div class="blog__posts__main">
        <div class="blog__posts__main__up">
          <div class="blog__posts__main__up__blog">bloq</div><div class="blog__posts__main__up__stroke"></div>
        </div>

        <div class="blog__posts__main__down">
          <div class="blog__posts__main__down__stroke"></div><div class="blog__posts__main__down__post">post</div>
        </div>

        <p>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      
      <!-- # -->
      
      <div class="box box-small">
        <div class="box-img" style="background: url(../assets/img/comp13.svg);"></div>
        <div class="box-text">
            <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
            <p style="margin-bottom: 6px;">Samir Kərimov</p>
            <p class="box-text-p2">02.09.2021</p>
            <button class="buttons">Ətraflı oxu</button>
        </div>
    </div>

    <div  class="box box-big ">
      <div class="box-img" style="background: url(../assets/img/comp14.svg);"></div>
      <div class="box-text">
          <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
          <p style="margin-bottom: 6px;">Samir Kərimov</p>
          <p class="box-text-p2">02.09.2021</p>
          <a href="#"><button class="buttons">Ətraflı oxu</button></a>
      </div>
  </div>
  <div class="box box-big">
    <div class="box-img" style="background: url(../assets/img/comp15.svg);"></div>
    <div class="box-text">
        <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
        <p style="margin-bottom: 6px;">Samir Kərimov</p>
        <p class="box-text-p2">02.09.2021</p>
        <a href="#"><button class="buttons">Ətraflı oxu</button></a>
    </div>
</div>
<div class="box box-big">
  <div class="box-img" style="background: url(../assets/img/comp16.svg);"></div>
  <div class="box-text">
      <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
      <p style="margin-bottom: 6px;">Samir Kərimov</p>
      <p class="box-text-p2">02.09.2021</p>
      <a href="#"><button class="buttons">Ətraflı oxu</button></a>
  </div>
</div>
<div class="box box-big">
  <div class="box-img" style="background: url(../assets/img/comp17.svg);"></div>
  <div class="box-text">
      <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
      <p style="margin-bottom: 6px;">Samir Kərimov</p>
      <p class="box-text-p2">02.09.2021</p>
      <a href="#"><button class="buttons">Ətraflı oxu</button></a>
  </div>
</div>

  <div class="green__box">
    <h4>bütün</h4>
    <div class="blog__posts__main__up__blog ml">bloq</div>
    <div class="blog__posts__main__down__post mr">postlar</div>

  </div>

    </section>
  <!-- sectionhelp -->
  <section class="help">
    <div class="help__question">
      <img src="../assets/img/vector2.svg" alt="">
      <div class="help__question__up">sualınız var?</div>
      <div class="help__question__down">
        <div class="help__question__down__stroke"></div><div class="help__question__down__text">gəlin kömək edək!</div>
      </div>
      <p>Sed et leo maximus, dictum sem nec, varius turpis. Mauris suscipit odio vel euismod lobortis. Cras venenatis eget magna id viverra. Quisque varius elit tempus hendrerit sagittis.</p>
    </div>
    <div class="help__form">
      <form action="">
        <div class="form__up">
          <input class="form__name" placeholder="Ad" type="text">  <input class="form__surname" placeholder="Soyad" type="text">
        </div>
        <div class="form__down">
          <input class="form__email" placeholder="Email" type="email">
          <div class="label"><img src="../assets/img/icon.svg" alt="">text@example.com</div>
        </div>
        <select class="program__select" name="programs" id="programs">
          <option value="HTML">HTML</option>
          <option value="CSS">CSS</option>
          <option value="JS">JS</option>
          <option value="C#">C#</option>
        </select>
        
        <input class="submit" value="Müraciət et" type="submit">
      </form>
    </div>

  </section>

  <!-- footer -->
  <footer>
    <div class="footer__up">
      <div class="footer__up__menu">
      <ul>
        <li><a href="">Haqqımızda</a> </li>
        <li><a href="">Proqramlar</a> </li>
        <li><a href="">Bloq</a> </li>
        <li><a href="">Tələbə və Məzunlar</a> </li>
        <li><a href="">Əlaqə</a> </li>
    </ul>
    </div>
      <div class="footer__up__address">
        <div class="footer__up__address__item"><p>Xocalı prospekti 40, AZ1000 Bakı, Azərbaycan</p><p>Mobil + 994 (50) 256 08 07</p></div>
      </div>
    </div>

    <div class="footer__down">
      <a href=""><div class="footer__down__logo"><img src="../assets/img/logofooter.svg" alt=""></div></a>
      <div class="footer__down__text">©2021 - Pragmatech - Bütün hüquqlar qorunur.</div>
      <div class="footer__down__link">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a> 
        <a href=""><i class="fab fa-linkedin-in"></i></a> 
      
      </div>
    </div>
  </footer>


    <script src="../assets/vendor/jquery-3.6.0.min.js"></script>
    <script src="../assets/vendor/swiper-bundle.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>
</html>
    

