<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontfamily -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- swiper -->
    <link rel="stylesheet" href="../assets/vendor/swiper-bundle.min.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>
</head>
<body>
    
        <!-- header -->
        <header>
            <nav class="navbar">
                <a href=""><div class="logo"><img src="../assets/img/logo.svg" alt=""></div></a>
                <div class="menu">
                    <ul>
                        <li><a href="">Haqqımızda</a> </li>
                        <li><a href="">Proqramlar</a> </li>
                        <li><a href="">Blog</a> </li>
                        <li><a href="">Tələbə və Məzunlar</a> </li>
                        <li><a href="">Əlaqə</a> </li>
                    </ul>
                </div>
                <div class="search"><img src="../assets/img/search.svg" alt=""></div>
                <a class="btn1" href="#">MÜRACİƏT</a>
            </nav>
        </header>
            <!-- Swipersection -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="header-wrapper">
            <div class="header__content">
                
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="#">Daha ətraflı</a>
            </div>
            </div>
            <img src="../assets/img/Background.svg" alt="">
          </div>
          <div class="swiper-slide">
            <div class="header-wrapper">
              <div class="header__content">
                  
                  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a href="#">Daha ətraflı</a>
              </div>
              </div>
            <img src="" alt="">

          </div>
          <div class="swiper-slide">
            <div class="header-wrapper">
              <div class="header__content">
                  
                  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <a href="#">Daha ətraflı</a>
              </div>
              </div>
            <img src="" alt="">
          </div>
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- logosection -->
      <section class="section-logo">
      <div class="logos">
        <div class="logos__item"><img src="../assets/img/html.svg" alt="#"></div>
        <div class="logos__item"><img class="css" src="../assets/img/css.png" alt="#"></div>
        <div class="logos__item"><img src="../assets/img/js.svg" alt=""></div>
        <div class="logos__item"><img src="../assets/img/c.svg" alt=""></div>
        <div class="logos__item"><img src="../assets/img/c+.svg" alt=""></div>
        <div class="logos__item"><img src="../assets/img/python.svg" alt=""></div>
      </div>
    </section>

    <!-- activegroups -->
    <section class="active__groups">
          <div class="active__groups__main">
            <div class="active__groups__main__up"><div class="active__groups__main__up__active">aktiv</div><div class="active__groups__main__up__stroke"></div></div>
            <div class="active__groups__main__groups">qruplar</div>
            <p>Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <a href="#">Hamısına bax</a>
          </div>
          <div class="active__groups__item"><a href="">
            <img src="../assets/img/comp.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="">
            <img src="../assets/img/comp2.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="#">
            <img src="../assets/img/comp3.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="#">
            <img src="../assets/img/comp4.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="#">
            <img src="../assets/img/comp5.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="#">
            <img src="../assets/img/comp6.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
          <div class="active__groups__item"><a href="">
            <img src="../assets/img/comp7.svg" alt="#">
            <h3>Lorem ipsum dolor sit</h3>
            <p>6 ay / 200 saat</p>

          </a></div>
    </section>
    <!-- plannedgroups -->
    <section class="planned__groups">
            <div class="planned__groups__box">
              <div class="planned__groups__box__main">
                <div class="planned__groups__box__main__up">planlanan</div>
                <div class="planned__groups__box__main__down"><div class="planned__groups__box__main__down__stroke"></div><div class="planned__groups__box__main__down__groups">qruplar</div></div>
                <p>Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="#">Hamısına bax</a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp8.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp9.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp10.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp11.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

              <div class="planned__groups__box__item">
                <img src="../assets/img/comp12.svg" alt="">
                <h3>Lorem ipsum dolor sit amet,
                  consectetur</h3>
                <div class="calendar"><img src="../assets/img/calendar.svg" alt=""><p>09.09.2021</p></div>
                <a href="" class="detail"><h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i></a>
              </div>

             

    </section>


    
    <script src="../assets/vendor/swiper-bundle.min.js"></script>
    <script src="../assets/js/app.js"></script>
</body>
</html>
    

