<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontfamily -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/programs.css">

    <title>Proqramlar</title>
</head>

<body>
     <!-- loading -->
<div class="loader">
    <div class="loader__wrapper">Loading...</div>

</div>
    <!-- loading -->
    <!-- header -->
    <header>
        <nav class="navbar">
            <a href="./index.html">
                <div class="logo"><img src="../assets/img/icons/logoblack.svg" alt=""></div>
            </a>
            <div class="menu">
                <ul>
                    <li><a href="./about.html">Haqqımızda</a> <span></span> </li>
                    <li><a href="./programs.html">Proqramlar</a> <span></span> </li>
                    <li><a href="./blog.html">Bloq</a> <span></span> </li>
                    <li><a href="./students.html">Tələbə və Məzunlar</a> <span></span> </li>
                    <li><a href="./contact.html">Əlaqə</a> <span></span> </li>
                </ul>
            </div>

            <div class="wrapper">
                <div class="search-box">
                    <input type="text" placeholder="Axtar" class="input">
                    <div class="btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <a class="btn1" href="#">MÜRACİƏT</a>
        </nav>
    </header>
    <!-- downmenu -->
    <section class="downmenu">
        <div class="downmenu__wrapper">
            <a href="./index.html">
                <div class="downmenu__wrapper__item">Ana Səhifə</div>
            </a>
            <img src="../assets/img/icons/Vectorright.svg" alt="">
            <a href="./programs.html">
                <div class="downmenu__wrapper__item">Proqramlar</div>
            </a>

        </div>
    </section>

    <!-- programs -->
    <section class="programs">
        <div class="programs__left">
            <div class="programs__left__wrapper">
                <div class="programs__left__wrapper__up">
                    <h1>Proqramlar</h1>
                    <div class="programs__left__wrapper__up__stroke"></div>

                </div>
                <div class="programs__left__wrapper__text">Vivamus pretium, massa ac tempor rhoncus, eros eros hendrerit
                    orci, in viverra risus mi a dolor. Etiam consequat, metus nec sodales porttitor, magna risus
                    bibendum dui, semper posuere lectus urna sit amet dui. Phasellus et bibendum eros. </div>

            </div>
        </div>
        <div class="programs__img"><img src="../assets/img/style_css_img/comp18.svg" alt=""></div>
    </section>

    <!-- tabsection -->
    <div class="tabs">
        <div class="tabs__header">
            <div class="tabs__header__wrapper">
                <div class="tabs__header__wrapper__all">Bütün proqramlar</div>
                <div class="tabs__header__wrapper__active">Aktiv proqramlar</div>
            </div>
        </div>
        <div class="tabs__indicator">
            <div class="tabs__indicator__wrapper">
                <div class="tabs__indicator__wrapper__item"></div>
            </div>
        </div>
       
        <div class="double">
            <div class="double__main">
                 <!-- all programs -->
                <div class="double__main__box firstbox">

                    <div class="double__main__box__item firstitem">
                        <img src="../assets/img/style_css_img/comp16.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="./program_details.html" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class="double__main__box__item firstitem">
                        <img src="../assets/img/style_css_img/comp8.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="./program_details.html" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>

                    <div class="double__main__box__item firstitem">
                        <img src="../assets/img/style_css_img/comp11.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="./program_details.html" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>

                    <div class="double__main__box__item firstitem">
                        <img src="../assets/img/style_css_img/comp12.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="./program_details.html" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>

                    <div class="double__main__box__item firstitem">
                        <img src="../assets/img/style_css_img/comp8.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="./program_details.html" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>


                    
                </div>

                <!-- activ programs tab -->
                <div class="double__main__box main__active">

                    <div class="double__main__box__item lastitem">
                        <img src="../assets/img/style_css_img/comp8.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>

                    <div class="double__main__box__item lastitem">
                        <img src="../assets/img/style_css_img/comp9.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>

                    <div class="double__main__box__item lastitem">
                        <img src="../assets/img/style_css_img/comp10.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>

                    <div class="double__main__box__item lastitem">
                        <img src="../assets/img/style_css_img/comp11.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>

                    <div class="double__main__box__item lastitem">
                        <img src="../assets/img/style_css_img/comp12.svg" alt="">
                        <h3>Lorem ipsum dolor sit amet,
                            consectetur</h3>
                        <div class="calendar"><img src="../assets/img/icons/calendar.svg" alt="">
                            <p>09.09.2021</p>
                        </div>
                        <a href="" class="detail">
                            <h4>Daha ətraflı</h4><i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    
                </div>

            </div>


        </div>
    </div>


     <!-- popup -->
<div class="popup__all">
    <form class="popup">
     <h1>Bizə yazın</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
     
     <div class="popup-inputs">
         <input type="text" placeholder="Ad"> <input type="text" placeholder="Soyad">
     </div> 
     <div class="popup-inputs">
         <input type="email" placeholder="Email"> <input type="number" placeholder="Telefon">
         <div class="label"><img src="../assets/img/icons/icon.svg" alt="icon">text@example.com</div>
     </div>
     <div class="dropdown">
      <div class="select">
        <span class="label">Proqramı seçin</span>
        <img src="../assets/img/icons/Vectordown.svg" alt="">
      </div>
      <input type="hidden" name="gender">
      <ul class="dropdown-menu">
        <li>HTML</li>
        <li>Css</li>
        <li>Javascript</li>
        <li>C#</li>
      </ul>
    </div>
     <div class="popup-textarea">
         <textarea placeholder="Mesajınız" class="popup-input" name="text"  cols="30" rows="10"></textarea>  
     </div>
     <div class="popup-submit">
         <input type="submit" value="Göndər">
     </div>
  </form>
  </div>
      
 <!-- footer -->
 <footer>
    <div class="footer__up">
      <div class="footer__up__menu">
      <ul>
        <li><a href="./about.html">Haqqımızda</a> </li>
        <li><a href="./programs.html">Proqramlar</a> </li>
        <li><a href="./blog.html">Bloq</a> </li>
        <li><a href="./students.html">Tələbə və Məzunlar</a> </li>
        <li><a href="./contact.html">Əlaqə</a> </li>
    </ul>
    </div>
      <div class="footer__up__address">
        <div class="footer__up__address__item"><p>Xocalı prospekti 40, AZ1000 Bakı, Azərbaycan</p><p>Mobil + 994 (50) 256 08 07</p></div>
      </div>
    </div>

    <div class="footer__down">
      <a href="./index.html"><div class="footer__down__logo"><img src="../assets/img/icons/logofooter.svg" alt=""></div></a>
      <div class="footer__down__text">©2021 - Pragmatech - Bütün hüquqlar qorunur.</div>
      <div class="footer__down__link">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a> 
        <a href=""><i class="fab fa-linkedin-in"></i></a> 
      
      </div>
    </div>
  </footer>


    <script src="../assets/vendor/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/common.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/slider.js"></script>

</body>

</html>