<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div class="head">
        <div class="contact-all">
            <div class="contact-header">
                <div class="line"></div>
                <h1 class="contact-text">Bizimlə əlaqə</h1>
                <div class="line"></div>
            </div>
        </div>
    </div>
</body>
</html>