<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Blog</title>
    <link rel="stylesheet" href="../assets/css/blog.css">
</head>
<body>
    <!-- Blog start -->
    <!-- blog text header -->
    <div class="blog-all">
        <div class="blog-header">
            <div class="line"></div>
            <h1 class="blog-text">Bloq</h1>
            <div class="line"></div>
        </div>
        <!-- blog header end -->

        <!-- blog photo and text -->
        <div class="blog-TM">
            <div class="blog-img"></div>
            <div class="blog-text2">
                <h3>Lorem ipsum dolor sit amet, consectetur</h3>
                <p>Quisque finibus egestas gravida. Etiam varius nec massa dignissim maximus. Phasellus nisl risus, scelerisque eu malesuada sed, pretium dignissim sapien. Nulla rhoncus nisl finibus turpis tincidunt, gravida eleifend odio elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Etiam at mauris in dolor gravida faucibus at non ligula. Cras tincidunt venenatis accumsan. </p>
                <div class="blog-name"><p style="margin-right: 9.875rem;" class="blog-mtext">Samir Kərimov</p> <p>02.09.2021</p></div>
                <button class="buttons">Ətraflı oxu</button>
            </div>
        </div>
    </div>
    <!-- blog photo and text -->
<!-- blog end -->

<!-- blog-box -->

    <div class="blog-box">
        <div class="box">
            <div class="box-img" style="background: url(../assets/img/box.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <button class="buttons">Ətraflı oxu</button>
            </div>
        </div>

        <!-- box 2 -->

        <div class="box">
            <div class="box-img" style="background: url(../assets/img/box2.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <button class="buttons">Ətraflı oxu</button>
            </div>
        </div>

        <!-- box 3 -->

        <div class="box">
            <div class="box-img" style="background: url(../assets/img/box3.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <button class="buttons">Ətraflı oxu</button>
            </div>
        </div>

<!-- box 4 -->

     <div class="box">
            <div class="box-img" style="background: url(../assets/img/box4.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <button class="buttons">Ətraflı oxu</button>
            </div>
        </div>

<!-- box 5 -->

    <div class="box">
            <div class="box-img" style="background: url(../assets/img/box5.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <button class="buttons">Ətraflı oxu</button>
            </div>
        </div>

<!-- box 6 -->

    <div class="box">
            <div class="box-img" style="background: url(../assets/img/box6.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <button class="buttons">Ətraflı oxu</button>
            </div>
        </div>

<!-- box 7 -->

    <div class="box">
            <div class="box-img" style="background: url(../assets/img/box7.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <button class="buttons">Ətraflı oxu</button>
            </div>
        </div>

<!-- box 8 -->

    <div class="box">
            <div class="box-img" style="background: url(../assets/img/box8.svg);"></div>
            <div class="box-text">
                <p class="box-text-p">Lorem ipsum dolor sit amet, consectetur</p>
                <p style="margin-bottom: 6px;">Samir Kərimov</p>
                <p class="box-text-p2">02.09.2021</p>
                <button class="buttons">Ətraflı oxu</button>
            </div>
        </div>

    </div>


<!-- blog-box end -->
</body>
</html>