<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/contact.css">
</head>
<body>
  <!-- nav bar start -->
  
  <header>
    <nav class="navbar">
        <a href=""><div class="logo"><img src="../assets/img/logoblack.svg" alt=""></div></a>
        <div class="menu">
            <ul>
                <li><a href="">Haqqımızda</a> <span></span> </li>
                <li><a href="">Proqramlar</a> <span></span> </li>
                <li><a href="../templates/blog.html">Bloq</a> <span></span> </li>
                <li><a href="">Tələbə və Məzunlar</a> <span></span> </li>
                <li><a href="../templates/contact.html">Əlaqə</a> <span></span> </li>
            </ul>
        </div>  
        
        <div class="wrapper">
          <div class="search-box">
             <input type="text" placeholder="Search" class="input">
             <div class="btn">
               <i class="fa fa-search" aria-hidden="true"></i>
             </div>
          </div>
        </div>
        <a class="btn1" href="#">MÜRACİƏT</a>
    </nav>
</header>

  <!-- nav bar end -->

  <!-- downmenu -->

  <section class="downmenu">
    <div class="downmenu__wrapper">
        <a href=""><div class="downmenu_wrapper_item">Ana Səhifə</div></a>
        <img src="../assets/img/Vectorright.svg" alt="">
        <a href=""><div class="downmenu_wrapper_item">Əlaqə</div></a>
        
    </div>
</section>

<!-- downmenu end -->

    <div class="head">

      <!-- contact start-->

        <div class="contact-all">
            <div class="contact-header">
                <div class="line"></div>
                <h1 class="contact-text">Bizimlə əlaqə</h1>
                <div class="line"></div>
                </div>
        </div>
        <div class="contact-map-info">
            <div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.0533426308043!2d49.845490350333655!3d40.407669064014385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403087f5efc1f421%3A0x8d1989f4a7f62f9c!2sAvesta%20Concern%2C%20Baku%2C%20Azerbaijan!5e0!3m2!1sen!2s!4v1638930366959!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
            <div class="contact-info">
                <div class="contact-info-location"></div>
                <div class="contact-info-text"><p>Xocalı prospekti 40</p></div>

                <div class="contact-info-number"></div>
                <div class="contact-info-text"><p>+ 994 (50) 256 08 07</p></div>

                <div class="contact-info-mail"></div>
                <div class="contact-info-text"><p>info@pragmatech.com</p></div>
            </div>
        </div>

        <!-- contact end -->

        <!-- sendbox start -->

        <div class="sendbox-all">
           <form class="contact-sendbox">
            <h1>Bizə yazın</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="sendbox-line"></div>
            <div class="sendbox-inputs">
                <input type="text" placeholder="Ad"> <input type="text" placeholder="Soyad">
            </div>
            <div class="sendbox-inputs">
                <input type="email" placeholder="Email"> <input type="number" placeholder="Telefon">
            </div>
            <div class="sendbox-textarea">
                <input type="text" placeholder="mesajiniz" class="textbox-input">
            </div>
            <div class="sendbox-submit">
                <input type="submit" value="Göndər">
            </div>
        </form>
        </div>

        <!-- sendbox end -->

    </div>

    
 <!-- footer -->
 <footer style="margin-top: 6.25rem;">
    <div class="footer__up">
      <div class="footer__up__menu">
      <ul>
        <li><a href="">Haqqımızda</a> </li>
        <li><a href="">Proqramlar</a> </li>
        <li><a href="">Bloq</a> </li>
        <li><a href="">Tələbə və Məzunlar</a> </li>
        <li><a href="">Əlaqə</a> </li>
    </ul>
    </div>
      <div class="footer__up__address">
        <div class="footer__up__address__item"><p>Xocalı prospekti 40, AZ1000 Bakı, Azərbaycan</p><p>Mobil + 994 (50) 256 08 07</p></div>
      </div>
    </div>

    <div class="footer__down">
      <a href=""><div class="footer__down__logo"><img src="../assets/img/footer.svg" alt=""></div></a>
      <div class="footer__down__text">©2021 - Pragmatech - Bütün hüquqlar qorunur.</div>
      <div class="footer__down__link">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a> 
        <a href=""><i class="fab fa-linkedin-in"></i></a> 
      
      </div>
    </div>
  </footer>

  <!-- footer end -->
  <script src="../../assets/vendor/jquery-3.6.0.min.js"></script>
  <script src="../../assets/js/common.js"></script>
</body>
</html>